
<nav>
    <div class="site-title">
      <a href="/"><h1>Blogs</h1></a>
      <p>Read and Write Blogs</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <% if(user){ %>
        <li><a href="/upload_blog">New Blog</a></li>
        <li><a href="/logout">Logout</a></li>
      <% }else{ %>
        <li><a href="/login">login</a></li>
        <li><a href="/signup">Sign up</a></li>
       <% } %>        
    </ul>
  </nav>