
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Navbar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if(user){ %>
        <li class="nav-item">
            <a class="nav-link" href="/upload_blog">New Blog</a>
        </li>
        <% } %>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <% if(user){ %>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href = '/logout'>Logout</a>
        <% }else{ %>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href = '/login'>Login</a>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href = '/signup'>Signup</a>
        <% } %>
    </form>
</nav>