<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>Oops please enter valid url</h1>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>