<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <br>
    <h1> hello everyone this is home page.</h1>

    <form action="/upload_blog" method="post">
        <label for = "username">User Name</label>
        <input type = "text" name = "username" placeholder="Name">
        <br>
        <label for = "blogname">Blog Name</label>
        <input type = "text" name = "blogname" placeholder="Blog Name">
        <br>
        <label for="blog">Blog Body</label>
        <textarea name = "blog" style="margin-top: 20px;"></textarea>
        <br>
        <button>Submit</button> 
    </form>
</body>
</html>