<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="create-blog content">
      <form action="/upload_blog" method="post">
          <label for="username">Username</label>
          <input type="text" name ="username" placeholder="User Name" required>

          <label for="blogname">Blog Name</label>
          <input type="text" name="blogname" placeholder="Blog Name" required>

          <label for="body">Blog Body</label>
          <textarea name="body" required></textarea>

          <button>Signup</button>
      </form>
      
  </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>